@page
@using Microsoft.Extensions.Localization
@using Lazy.Abp.AreaTree.Localization
@model Lazy.Abp.AreaTree.Web.Pages.AreaTree.IndexModel
@inject IStringLocalizer<AreaTreeResource> L
@{
}
<h1>AreaTree</h1>
<p>@L["SamplePageMessage"]</p>
